# Copyright (c) 2026 The Frontier Framework Authors
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception OR MIT

/.frontier/
/app/
/dist/
/frontier/assets/
/frontier/target/
/modules/
/back.bat
/front.bat
/frontier.bat
/frontier.toml
