accepted = [
    "MIT",
    "Apache-2.0",
    "BSL-1.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "0BSD",
    "Zlib",
    "Unicode-DFS-2016",
    "CC0-1.0",
    "Unlicense"
]

[[clarify]]
expression = "Apache-2.0 OR MIT"
license-files = [
    { path = "LICENSE", license = "Apache-2.0" }
]