# Copyright (c) 2026 The Frontier Framework Authors
# SPDX-License-Identifier: Apache-2.0 OR MIT

accepted = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "0BSD",
    "BSL-1.0",
    "ISC",
    "Zlib",
    "Unicode-DFS-2016",
    "CC0-1.0",
    "Unlicense"
]

[ring.clarify]
license = "Apache-2.0 OR MIT"